 /* importing google fontfamily*/

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body::-webkit-scrollbar {
     width: 0px;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 250px;
     padding: 20px;
     padding-top: 20px;
     background-color: #10161D;
     box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
     z-index: 100;
     justify-content: space-between;
     border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
 }





 .logo-name {
     font-size: 24px;
     color: #ffffff;
     margin: 25px;
     align-self: center;
     font-weight: 1000;

 }


 .sidebar .nav-list {
     padding: 30px 0 190px 0;
     overflow: auto;

 }

 .sidebar .nav-list1 {
     padding: 20px 0 10px 0;
     overflow: auto;

 }


 .sidebar .nav-list li {
     position: relative;
     list-style: none;
     transition: all .1s ease;
     margin-bottom: 20px;
     margin-top: 20px;

 }


 .sidebar .nav-list li:hover {
     background-color: #273139;
     border-radius: 15px;
     transition: all .3s ease;

 }

 .sidebar .nav-list li:active {
     background-color: #273139;
     border-radius: 15px;
     transition: all .3s ease;

 }

 .sidebar .nav-list li i {
     height: 50px;
     min-width: 50px;
     text-align: center;
     line-height: 50px;
     color: #ffffff;
     font-size: 16px;
     cursor: pointer;
 }


 .sidebar .nav-list li a {
     display: flex;
     align-items: center;
     text-decoration: none;
 }

 .sidebar .nav-list li a .link-name {
     color: #ffff;
     font-size: 12px;
     font-weight: 400;
 }


 .home-section {
     position: relative;
     width: 100%;
 }

 .home-section .home-content {
     display: flex;
     height: auto;
     align-items: center;
     background-color: #10161D;
     padding: 16px;
 }

 .home-section .home-content .text {
     white-space: nowrap;
     font-size: 18px;
     font-weight: 600;
     margin-left: 200px;
 }

 .home-content {
     display: flex;
     justify-content: space-between;
     background-color: #fff;

 }

 .hello-header {

     cursor: pointer;
     display: flex;
     color: #ffff;
     font-size: 35px;
     margin-left: 20px;
     transition: transform 0.3s ease-in-out;
     /* Smooth rotation */

 }


 .sidebar {
     width: 200px;
     /* Adjust width as needed */
     transition: all 0.3s ease;
 }

 .icon-link.active {
     background-color: #ffffff;
     border-radius: 15px;
 }

 .sidebar .nav-list li .icon-link.active .link-name {
     color: #10161D;
 }

 .sidebar .nav-list li .icon-link.active i {
     color: #10161D;
 }